
table {
  margin: 3% 10%;
  width: 80%;
}

td {
  padding: 15px;
  padding-bottom: 20px;
  border-bottom: 2px groove white;
}

img {
  margin-right: 10px;
  width: 35px;
}


.symbol {
  text-transform: uppercase;
}

#per {
  text-align: end;
}

.price {
  text-align: end;
}

.total {
  text-align: end;
}

.cap {
  text-align: end;
}

